.services1-image {
    height: 300px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.services1-parent {
    background-image: url('/public/assets/images/services.png');
    background-position: center;
    background-size: 100% 100%;
    width: 90%;
    margin: 60px auto;
    padding: 50px 0px 20px 0px;
    position: relative;
}

.services-abs-image {
    position: absolute;
    height: 250px;
    width: 300px;
    top: 0;
    right: 0;
}

.services-abs-image2 {
    position: absolute;
    height: 250px;
    width: 300px;
    bottom: 0;
    left: 0;
}

.services-abs-image2 img {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    z-index: 1;
}

.services-abs-image img {
    height: 100%;
    width: 100%;
}

.services1-image img {
    height: 100%;
    width: 100%;
}

.firstDiv p {
    background-color: rgb(25 135 84);
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-radius: 0 0 15px 15px;
    padding: 10px;
}

.firstDiv {
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.firstDiv:hover {
    transform: scale(1.08);
}

.largeDiv:hover,
.secondDiv p:hover {
    transform: scale(1.08);
}

.secondDiv p {
    height: 160px;
    width: 100%;
    border-radius: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background: #edf2fa;
    padding: 20px;
    text-align: center;
    margin: 0px 15px 25px 15px !important;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.largeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edf2fa;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px;
    margin-left: 60px;
    border-radius: 15px;
    text-align: center;
    height: 94%;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:767px) {
    .secondDiv p,.largeDiv p{
        font-weight: 700;
    }
    .largeDiv p {
        font-size: 12px;
    }

    .services1-parent .d-flex {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services1-parent {
        margin: 0px auto;
        padding: 25px 0px 15px 0px;
        width: 100%;
    }

    .container-lg.pt-5 {
        padding-top: 20px !important;
    }

    .col-md-3.firstDiv {
        margin-bottom: 20px;
    }

    .services1-parent .col-md-9 {
        padding: 0;
    }

    .services1-image {
        height: 250px;
    }

    .secondDiv p {
        height: 45px;
        font-size: 12px;
        padding: 10px;
        margin: 0px 0px 10px 0px !important;
    }

    .secondDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .largeDiv {
        margin-left: 0;
        height: 45px;
        width: 100%;
        padding: 0;
    }

    .services1-parent .col-6.col-sm-4.col-md-3 {
        padding: 0px 5px;
    }
}

@media screen and (min-width:767px) and (max-width:991px) {
    .services1-parent {
        width: 98%;
        margin: 21px auto;
        padding: 50px 0px 20px 0px;
    }

    .services1-image {
        height: 250px;
    }

    .firstDiv p {
        font-size: 14px;
    }

    .secondDiv p {
        height: 135px;
        font-size: 14px;
        padding: 10px 20px;
        text-align: center;
        margin: 0px 5px 25px 5px !important;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .services1-parent {
        width: 98%;
        margin: 21px auto;
        padding: 50px 0px 20px 0px;
    }
}


/* patient education styles starts here */
.education-card .education-image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    margin-top: 25px;
}

.education-image img {
    width: 100%;
    height: 100%;
}

.education-sub-parent {
    background-image: url('/public/assets/images/patientEducation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-block: 40px;
}

.education-card-content {
    padding: 20px;
    color: #fff;
    background: #08749B;
    margin-top: -3px;
    border-radius: 0 0 10px 10px;
    min-height: 140px;
}

@media screen and (max-width:767px) {
    .education-card-content {
        text-align: center;
        padding-inline: 10px;
    }

    .education-sub-parent {
        padding-block: 10px;
    }

    .education-card-content h5 {
        font-size: 17px;
    }

    .education-card-content p {
        font-size: 14px;
    }
}


/* contact us page styles starts here */

.contact-left {
    color: #fff;
    background: #08749b;
    padding: 40px 60px;
}

.contact-left a {
    color: #fff;
    text-decoration: none;
}

.contact-location {
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.contact-location i {
    margin-top: 3px;
}

.react-datepicker__month-container {
    width: 400px;
}

.react-datepicker__day-name,
.react-datepicker__time-name {
    width: 3.2rem !important;
    height: 2.7rem !important;
    line-height: 2.7rem !important;
}

h2.react-datepicker__current-month {
    color: #fff;
    font-size: 18px;
}

.react-datepicker__day {
    width: 3.2rem !important;
    height: 3.1rem !important;
    line-height: 3.1rem !important;
}

h2.react-datepicker__current-month {
    padding-block: 10px !important;
}

.react-datepicker__header {
    background: #08749b !important;
}

.react-datepicker__day-name {
    background-color: #019746;
    color: #fff !important;
}

.react-datepicker__day-names {
    background: #fff;
}

.react-datepicker__navigation {
    top: 10px !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    border-radius: 50% !important;
    background-color: rgb(8 116 155) !important;
    color: rgb(255 255 255) !important;
}

.calender-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ContactDetails-parent {
    padding-top: 50px;
}

.calender-parent h4 {
    border-bottom: 3px solid #08749b;
    font-size: 28px;
    color: #08749b;
    padding-bottom: 5px;
}

@media screen and (max-width:767px) {
    .react-datepicker__month-container {
        width: 100% !important;
    }

    h2.react-datepicker__current-month {
        color: #fff;
        font-size: 16px;
    }

    .react-datepicker__day,
    .react-datepicker__day-name,
    .react-datepicker__time-name {
        width: 2.3rem !important;
        height: 2.3rem !important;
        line-height: 2.3rem !important;
    }

    .ContactDetails-parent {
        padding-block: 20px;
    }

    .calender-parent h4 {
        border-bottom: 2px solid #08749b;
        font-size: 20px;
    }

    .contact-left {
        padding: 25px 20px;
        margin-bottom: 20px;
    }

    .contact-left p {
        font-size: 14px;
    }

    .calender-parent {
        gap: 10px;
    }

    .ContactDetails-parent .row {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .ContactDetails-parent h5 {
        font-size: 16px;
    }

    .ContactDetails-parent .col-md-6:nth-child(1) {
        padding: 0;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .contact-left {
        padding: 30px 20px;
    }
    .contact-left p{
        font-size: 14px;
    }
    .react-datepicker__day,
    .react-datepicker__day-name,
    .react-datepicker__time-name {
        width: 2.5rem !important;
        height: 2.5rem !important;
        line-height: 2.5rem !important;
    }
    .react-datepicker__month-container {
        width: 100% !important;
    }
    .calender-parent h4 {
        border-bottom: 2px solid #08749b;
        font-size: 24px;
    }
}

.blogsingle-parent h2{
    margin-bottom: 10px !important;
}
.blogsingle-parent p{
    margin-bottom: 15px !important;
}
.BlogsingleBanner{
    background-image: url("https://i.pinimg.com/736x/53/ee/a9/53eea945c333c4b6d58fc34192352997.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;
    height:95dvh;
    border-image: fill 0 linear-gradient(rgba(40, 37, 37, 0.2), #000);
    display: grid;
    place-items: center;
    padding: 2rem;
    color: #fff;
    padding-top: 180px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Container Styles */
  .BlogsingleBanner .container {
    display: grid;
    gap: 20px;
  }
  
  /* Typography Styles */
  .BlogsingleBanner h2 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .BlogsingleBanner p {
    font-size: 1.5rem;
  }
  
  /* Button Styles */
 .BlogsingleBanner button {
    border-radius: 4px;
    padding: 1.5rem 1.75rem;
    border: none;
    font-size: 1.6rem;
    justify-self: baseline;
    font-weight: bold;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
  }
  
  .BlogsingleBanner button:focus {
    outline-color: red;
  }
  
  .BlogsingleBanner button:focus-visible {
    outline-color: green;
  }
  @media screen and (max-width:767px){
    .services-abs-image2{
        height: 150px;
        width: 150px;
    }
    .BlogsingleBanner{
        height: fit-content;
    }
    .BlogsingleBanner h2 {
        font-size: 30px;
        font-weight: 700;
    }
    .BlogsingleBanner p {
        font-size: 16px;
    }
    .container.margin_120_95 p{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .Blogs-sub-content li{
        font-size: 14px;
        padding-bottom: 10px;
    }
  }
  