/* .fullwebssiteClass{
    max-width: 1500px;
    margin: auto;
}
.navbar-parent {
    max-width: 1500px;
    margin: auto;
} */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  font-family: "DM Sans", serif !important;
}
.active-link {
  color: black !important;
  border-bottom: 2px solid black;
}
.tabs-subtitleSection h5 {
  font-weight: 600;
}
@media screen and (min-width: 1500px) {
  .row.banner-row.text-white.w-100.p-0.m-0 {
    min-width: 1500px;
    margin: auto !important;
    max-width: 1600px;
  }
  .banner-sub-parent {
    background-color: #013aa5;
  }
}
.excellence-sub-parent .col-md-11.col-lg-9.mx-auto {
  max-width: 1100px;
  margin: auto;
}

.floating_btn {
  position: fixed;
  bottom: 85px;
  right: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}

.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}
html {
  scroll-behavior: smooth;
}
.patientEducatonTabs {
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .contentContainer-tabs .subTabsContainer {
    width: 100% !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    background-color: transparent !important;
    gap: 10px !important;
    padding-bottom: 20px;
  }

  .contentContainer-tabs .subTabsContainer button {
    width: fit-content;
    color: #000 !important;
    padding: 5px !important;
    background: none !important;
  }
  .contentContainer-tabs .subTabsContainer button{
    border-color: #000 !important;
    border-bottom: 2px solid #000 !important;
  }
  .contentContainer-tabs {
    flex-direction: column-reverse !important;
  }
  .subTabsContainer {
    margin: auto;
  }
  .tabs-content-separation {
    flex-direction: column;
  }
  .tabs-content-separation div {
    width: 100% !important;
  }
  /* .tabs-content-separation div:nth-child(2){
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    } */
  .tabs-content-separation div img {
    width: 100% !important;
    margin: 20px auto;
  }
}
.d-flex.justify-content-between.tabs-content-separation {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  width: 100% !important;
}
.dropdown-toggle::after {
  visibility: hidden !important;
}
